@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

button, input, textarea {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

fieldset {
  border: none;
}

html {
  font-size: 16px;
  --base-hover-btn-color: rgba(0, 0, 0, 0.1);
  --base-active-btn-color: #c0c0c0;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 100px 38px 0 275px;
  min-width: 350px;
  min-height: 100vh;
}

/* END OF RESET */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 250,
  'GRAD' 0,
  'opsz' 24
}

.visually-hidden { 
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /* maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /* modern browsers, clip-path works inwards from each corner */
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.tooltip {
  position: relative;
}

.tooltip-navbar::before {
  z-index: 50;
  position: absolute;
  transition: opacity 0.15s;
  content: attr(data-tooltip);
  bottom: -50px;
  color: #fff;
  background-color: #616161;
  padding: 10px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  pointer-events: none;
  transition: opacity 0.15s;
  opacity: 0;
  width: max-content;
  line-height: normal;
  visibility: hidden;
}

.tooltip--top-center::before {
  left: 50%;
  transform: translateX(-50%);
  bottom: 42px;
}

.tooltip-navbar--bottom-center::before {
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-navbar--bottom-left::before {
  left: 0;
  transform: initial;
}

.tooltip-navbar--bottom-rigth::before {
  right: 0;
  left: initial;
  transform: initial;
}

/* HEADER NAVIGATION MENU */

.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 0 16px;
  z-index: 2;
  font-size: 1rem;
  border: 1px solid red;
}

.navigation-bar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  height: 56px;
}

/* END OF HEADER NAVIGATION MENU */

/* NAVIGATION BAR LEFT */
/* END OF NAVIGATION BAR LEFT */

/* NAVIGATION BAR MIDDLE */

.navigation-bar__middle {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: normal;
  max-width: 650px;
  gap: 17px;
}

.navigation-bar-middle__search-container {
  display: flex;
  align-items: normal;
  flex: 1;
}

.navigation-bar-middle__search-input-container {
  width: 100%;
  max-width: 540px;
  position: relative;
} 

.navigation-bar-middle__search-input {
  width: 100%;
  border-radius: 40px 0 0 40px;
  border: 1px solid #d3d3d3;
  font-size: 1rem;
  padding: 10px 4px 10px 16px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.navigation-bar-middle__search-input.active {
  padding: 10px 30px 10px 16px;
}

.navigation-bar-middle__search-input:focus {
  border: 1px solid #2e66ce;
  outline: none;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.navigation-bar-middle__search-input::placeholder {
  opacity: 0.9;
}

.navigation-bar-middle__search-input-close-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  z-index: 2;
  line-height: 0;
  opacity: 0.5;
  transition: opacity 0.15s;
  display: none;
}

.navigation-bar-middle__search-input-close-btn.active {
  display: block;
}

.navigation-bar-middle__search-input-close-icon {
  width: 1.5em;
}

.navigation-bar-middle__search-btn {
  border-radius: 0 40px 40px 0;
  padding: 0 22px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  line-height: 0;
  background-color: #f8f8f8;
}

.navigation-bar-middle__search-icon {
  width: 1.4em;
}

.navigation-bar-middle__search-with-voice-btn {
  border-radius: 30px;
  padding: 0 11px;
  line-height: 0;
  background-color: #f0f0f0;
}

.navigation-bar-middle__search-with-voice-icon {
  width: 1.3em;
}

.navigation-bar__return-btn {
  line-height: 0;
  padding: 8px;
  border-radius: 50%;
}

.navigation-bar__return-icon {
  width: 1.5em
}

/* END OF NAVIGATION BAR MIDDLE */

/* NAVIGATION BAR RIGHT */

.navigation-bar__right {
  display: flex;
  align-items: center;
}

.navigation-bar-right__settings-btn {
  line-height: 0;
  border-radius: 50%;
  padding: 8px;
}

.navigation-bar-right__settings-icon {
  width: 1.2em;
  color: #5c5c5c;
}

.navigation-bar-right__settings-btn:focus-visible {
  background-color: var(--base-hover-btn-color);
  outline: none;
}

.sign-in-btn {
  display: flex;
  align-items: center;
  margin-left: 8px;
  border: 1px solid var(--base-hover-btn-color);
  border-radius: 30px;
  padding: 6px 15px 6px 11px;
}

.sign-in-btn:focus-visible {
  outline: 2px solid #065fd4;
}

.sign-in-btn p {
  font-size: 0.85rem;
  padding-left: 10px;
  color: #065fd4;
  white-space: nowrap;
  font-weight: 500;
}

.sign-in-btn img {
  width: 20px;
}

.navigation-bar-right__search-btn {
  display: none;
  line-height: 0;
  border-radius: 50%;
  padding: 8px;
}

.navigation-bar-right__search-icon {
  width: 1.4em;
}

.navigation-bar-right__search-with-voice-btn {
  display: none;
  line-height: 0;
  border-radius: 50%;
  padding: 8px;
}

.navigation-bar-right__search-with-voice-icon {
  width: 1.35em;
}

/* END OF NAVIGATION BAR RIGHT */

/* SIDE MENU */

.aside-side-menu {
  position: fixed;
  left: 0;
  top: 57px;
  bottom: 0;
  width: 245px;
  scrollbar-width: thin;
  overflow: hidden;
  z-index: 100;
  background-color: #fff;
  border: 2px solid blue;
  transition: left 0.25s;
}

.side-menu {
  width: 230px;
}

.side-menu ul {
  list-style-type: none;
}

.side-menu__section {
  padding: 12px;
}

.side-menu__section-title {
  padding: 6px 10px;
  font-size: 1rem;
  font-weight: 500;
}

.side-menu__sign-in-section {
  padding: 16px 32px;
}

.side-menu-introductory__general-section,
.side-menu-introductory__user-section,
.side-menu__sign-in-section,
.side-menu__explore-section,
.side-menu__more-section,
.side-menu__settings-section {
  border-bottom: 1px solid var(--base-hover-btn-color);
}

.side-menu__link {
  display: grid;
  grid-template-columns: 1fr 2.75fr;
  align-items: center;
  padding: 7px 10px;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
}

.side-menu__link:focus {
  outline: none;
}

.side-menu__working-link {
  display: grid;
  grid-template-columns: 1fr 2.75fr;
  align-items: center;
  padding: 11px 10px;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
}

.side-menu-link__icon {
  width: 1.7rem;
}

.side-menu-link__icon--active {
  width: 1.7rem;
  display: none;
}

.side-menu-link__icon-variation {
  width: 1.4rem;
  margin-left: 2px;
}

.side-menu-link__icon-variation-2 {
  width: 1.55rem;
}

.side-menu-link__text {
  font-size: 0.875rem;
}

.side-menu__sign-in-text {
  font-size: 0.875rem;
  margin-bottom: 15px;
  line-height: 1.45;
}

.side-menu__sign-in-btn {
  margin: 0;
}

.side-menu-more__img {
  width: 20px;
}

.side-menu__link.active {
  background-color: rgba(0, 0, 0, 0.05);
}

.side-menu__link.active .side-menu-link__icon--active, 
.side-menu-thin__link.active .side-menu-thin-link__icon--active {
  display: initial;
}

.side-menu__link.active .side-menu-link__icon, 
.side-menu-thin__link.active .side-menu-thin-link__icon{
  display: none;
}

.side-menu-footer {
  padding: 16px 24px;
  width: 240px;
}

.side-menu-footer__first-half-links {
  margin-bottom: 12px;
}

.side-menu-footer__second-half-links {
  margin-bottom: 16px;
}

.side-menu-footer ul {
  list-style-type: none;
}

.side-menu-footer li {
  display: inline-block;
  margin-right: 5px;
}
.side-menu-footer__link {
  color: #606060;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 500;
}

.side-menu-footer__copyright-title {
  font-size: 0.75rem;
  color: #909090
}

/* END OF SIDE MENU */

/* SIDE MENU THIN */

.aside-side-menu-thin {
  display: none;
  position: fixed;
  top: 57px;
  left: 0;
  width: 74px;
  border: 2px solid blue;
}

.side-menu-thin {
  background-color: #fff;
  padding: 2px 4px;
}

.side-menu-thin ul {
  list-style-type: none;
}

.side-menu-thin__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 12px 16px;
  border-radius: 10px;
}

.side-menu-thin__link:focus {
  outline: none;
}

.side-menu-thin-link__icon {
  width: 27px;
}

.side-menu-thin-link__icon--active {
  width: 27px;
  display: none;
}

.side-menu-thin-link__icon-variation {
  width: 22px;
}

.side-menu-thin-link__text {
  margin: 8px 0 0;
  font-size: 0.625rem;
  line-height: 0.8;
}

/* END OF SIDE MENU THIN */

.nav-header {
  display: flex;
  align-items: center;
}

.nav-header a {
  line-height: 0;
  color: inherit;
}


.nav-header__youtube-logo-link,
.side-menu-modal-header__youtube-logo-link {
  display: block;
  padding: 16px;
}

.nav-header__youtube-logo {
  width: 5.75em;
}

.nav-header__youtube-logo-small-link {
  display: none;
  padding: 0 10px;
}

.nav-header__youtube-logo-small {
  width: 1.9em;
}

.nav-header__menu-btn {
  line-height: 0;
  border-radius: 50%;
  padding: 8px;
}

.nav-header__menu-icon {
  width: 1.5em;
  margin-bottom: -2px;
}

.side-menu-modal-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 57px;
  color: red;
  background-color: white;
  width: 245px;
  display: none;
  padding-left: 16px;
  transition: left 0.25s;
}

.side-menu__overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
  display: none;
  opacity: 0;
  transition: opacity 0.25s;
}

/*TODO: REFACTOR BELOW THIS LINE*/

/* VIDEOS GRID SECTION */

.videos-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 17px;
  row-gap: 50px;
}

/* VIDEO THUMBNAIL */

.video-container {
  text-decoration: none;
  color: inherit;
  display: block;
  box-sizing: border-box;
  border: none;

}

.video-container:focus {
  outline: 2px solid black;
  /* outline-offset: -1px; */
  border-radius: 10px;
}

.video-thumbnail {
  position: relative;
  
}

.video-thumbnail__img {
  width: 100%;
  display: block;
  border-radius: 10px;
  height: 100%;
}

.video-thumbnail__timestamp {
  position: absolute;
  background-color: #0f0f0fb4;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  right: 7px;
  bottom: 7px;
  padding: 2px 4px;
  border-radius: 4px;
}


/* CHANNEL ICON AND VIDEO INFO */

.video-avatar-info-container {
  display: flex;
  margin: 12px 0 0;
  gap: 12px;
  position: relative;
}

.video-avatar {
  position: relative;
}

.video-avatar__img {
  width: 36px;
  border-radius: 50%;
}

.video-avatar__channel-tooltip {
  display: flex;
  align-items: center;
  position: absolute;
  white-space: nowrap;
  bottom: -45px;
  left: 0;
  background-color: #fff;
  padding: 8px 50px 8px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #0f0f0f2a;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
  visibility: hidden;
}

.video-avatar__channel-tooltip-img {
  width: 50px;
  border-radius: 25px;
  margin-right: 10px;
}

.video-avatar__channel-tooltip-info p {
  color: #606060;
  margin-top: 2px;
}

.video-info__title {
  font-size: 1rem;
  font-weight: 500;
}

.video-info__author, .video-info__stats {
  font-size: 0.875rem;
  color: #606060;
  font-weight: 400;
}

.video-info__author {
  margin: 8px 0 0;
  display: inline-block;
  transition: color 0.1s;
  will-change: color;
}

.video-info__stats {
  margin: 3px 0 0;
}

.video-info__stats-separator {
  font-weight: 900;
}

.video-info__settings {
  background-color: #fff;
  position: absolute;
  top: 30px;
  right: -145px;
  z-index: 20;
  border-radius: 12px;
  box-shadow: 0px 0px 45px -6px rgba(0, 0, 0, 0.12);
  padding: 8px 0;
  overflow-x: hidden;
  width: 175px;
  display: none;
}

.video-info__settings-btn {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  gap: 10px;
  font-size: 0.875em;
  width: 100%;
  padding: 8px 14px;
  overflow: hidden;
  justify-items: start;
}

.video-info__settings-share-icon {
  width: 1.3rem;
}

.video-info__settings-add-icon {
  width: 1.6rem;
}

.video-info__settings-btn:hover {
  background-color: rgba(0, 0, 0 , 0.1);
}

.video-info__toggle-settings-btn {
  color: #5c5c5c;
  top: -8px;
  right: -8px;
  position: absolute;
  line-height: 0;
  padding: 8px;
}

.video-info__toggle-settings-icon {
  width: 1.2em;
}

/* END OF CHANNEL ICON AND VIDEO INFO */

/* END OF VIDEOS GRID SECTION */

/* MEDIA QUERIES FOR NOT HOVER CAPABLE DEVICES */

@media screen and (hover: none) {
  .aside-side-menu {
    overflow: auto;
  }
}

/* END OF MEDIA QUERIES FOR NOT HOVER CAPABLE DEVICES */

/* MEDIA QUERIES FOR HOVER CAPABLE DEVICES */

@media screen and (hover: hover) {
  /* TOOLTIP */
  .tooltip-navbar:is(:hover, :focus-visible)::before {
    opacity: 0.9;
    visibility: visible;
  }
  /* END OF TOOLTIP */

  /* NAVIGATION MENU */
    /* NAVBAR LEFT */
    .nav-header__menu-btn:is(:hover, :focus-visible) {
      background-color: var(--base-hover-btn-color);
      outline: none;
    }
    /* END OF NAVBAR LEFT*/

    /* NAVBAR MIDDLE */
    .navigation-bar-middle__search-btn:is(:hover, :focus-visible) {
      background-color: #f0f0f0;
      cursor: pointer;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      outline: none;
    }

    .navigation-bar-middle__search-input-close-btn:is(:hover, :focus-visible) {
      opacity: 1;
    }

    .navigation-bar-middle__search-with-voice-btn:is(:hover, :focus-visible) {
      background-color: #d3d3d3;
    }

    .navigation-bar__return-btn:is(:hover, :focus-visible) {
      background-color: var(--base-hover-btn-color);
    }
    /* END OF NAVBAR MIDDLE */

    /* NAVBAR RIGHT */
    .sign-in-btn:is(:hover, :focus-visible) {
      background-color: #def1ff;
      border: 1px solid #def1ff;
    }
    
    .navigation-bar-right__search-btn:is(:hover, :focus-visible),
    .navigation-bar-right__search-with-voice-btn:is(:hover, :focus-visible) {
      background-color: var(--base-hover-btn-color);
      outline: none;
    }
    /* END OF NAVBAR RIGHT */
  /* END OF NAVIGATION MENU */

  /* SIDE MENU */
  .aside-side-menu:is(:hover, :focus-visible) {
    overflow-y: auto;
  }

  .side-menu__link:is(:hover, :focus-visible),
  .side-menu__working-link:is(:hover, :focus-visible),
  .side-menu-thin__link:is(:hover, :focus-visible) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .side-menu__link.active:is(:hover, :focus-visible) {
    background-color: rgba(0, 0, 0, 0.1);
  }
  /* END OF SIDE MENU */

  /* VIDEOS GRID SECTION */
  .video-avatar__img:hover ~ .video-avatar__channel-tooltip {
    opacity: 1;
    visibility: visible;
  }

  .video-info__author:hover {
    color: #000000;
  }
  /* END FO VIDEOS GRID SECTION */
}

/* END OF MEDIA QUERIES FOR HOVER CAPABLE DEVICES */

/* ACTIVE */

  /* NAVIGATION MENU */
    /* NAVBAR LEFT */
    .navigation-bar-left__menu-btn:active {
      background-color: var(--base-active-btn-color);
    }
    /* END OF NAVBAR LEFT */

    /* NAVBAR MIDDLE */
    .navigation-bar-middle__search-btn:active {
      background-color: #e9e9e9;
    }

    .navigation-bar-middle__search-with-voice-btn:active {
      background-color: var(--base-active-btn-color);
    }

    .navigation-bar__return-btn:active {
      background-color: var(--base-active-btn-color);
    }
    /* END OF NAVBAR MIDDLE */

    /* NAVBAR RIGHT */
    .navigation-bar-right__settings-btn:active {
      background-color: var(--base-hover-btn-color);
    }

    .navigation-bar-right__search-btn:active,
    .navigation-bar-right__search-with-voice-btn:active {
      background-color: var(--base-active-btn-color);
    }

    .sign-in-btn:active {
      background-color: #c6d8e4;
      border: 1px solid #c6d8e4;
    }
    /* END OF NAVBAR RIGHT */
  /* END OF NAVIGATION MENU */

  /* SIDE MENU */
  .side-menu__link:active, 
  .side-menu-thin__link:active {
    background-color: rgba(0, 0, 0, 0.10);
  }

  .side-menu__link.active:active, 
  .side-menu-thin__link.active:active {
    background-color: rgba(0, 0, 0, 0.15);
  }
  /* END OF SIDE MENU */

/* END OF ACTIVE */



@media screen and (hover: hover) {

}


/*VIDEOS GRID SECTION*/

@media screen and (max-width: 1918px) {
  .videos-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1591px) {
  .videos-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1097px) {
  .videos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .videos-grid {
    grid-template-columns: 1fr;
    max-width: 500px;
    margin: 0 auto;
  }
}

/* END OF VIDEOS GRID SECTION */

@media screen and (max-width: 1312px) {
  body {
    padding: 100px 38px 0 100px !important;
  }

  .aside-side-menu-container {
    display: none;
  }

  .aside-side-menu-thin {
    display: initial;
  }
}

@media screen and (max-width: 791px) {
  body {
    padding: 100px 26px 0 !important
  }

  .aside-side-menu-thin {
    display: none !important;
  }
}

@media screen and (min-width: 701px) {
  .navigation-bar__left {
    display: flex !important;
  }

  .navigation-bar__middle {
    display: flex !important;
  }

  .navigation-bar__right {
    display: flex !important;
  }

  .navigation-bar__return-btn {
    display: none;
  }

  .tooltip-navbar::before {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 700px) {
  .navigation-bar {
    padding: 0 8px;
  }

  .navigation-bar nav {
    gap: 0;
  }

  .navigation-bar__middle {
    display: none;
  }

  .navigation-bar-right__search-btn,
  .navigation-bar-right__search-with-voice-btn {
    display: initial;
  }

  .sign-in-btn {
    margin-left: 0;
  }
}

@media screen and (max-width: 499px) {
  body {
    padding: 100px 15px 20px 15px !important;
  }
}

@media screen and (max-width: 402px) {
  .nav-header__youtube-logo-link {
    display: none;
  }

  .nav-header__youtube-logo-small-link {
    display: block;
  }
}

/* MODIFIERS */

.show {
  display: initial;
}

.hide {
  display: none;
}

.show-flex {
  display: flex;
}


/* END OF MODIFIERS */