/* SEARCH WITH VOICE MODAL */

.search-with-voice-modal-container {
  position: fixed;
  inset: 0;
  z-index: 120;
  padding: 8px 20px 8px;
  display: none;
}

.search-with-voice-modal-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0;
  opacity: 0;
  transition: opacity 0.25s;
}

.search-with-voice-modal-content {
  background-color: #fff;
  max-height: 450px;
  max-width: 590px;
  min-height: 340px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 25px 30px;
  font-size: 1rem;
  position: relative;
  z-index: 12;
  opacity: 0;
  transition: opacity 0.10s;
  border-radius: 1px;
}

.search-with-voice-modal__close-btn {
  line-height: 0;
  position: absolute;
  right: 15px;
  top: 32px;
  padding: 8px;
  border-radius: 50%;
}

.search-with-voice-modal__close-icon {
  width: 1.5em;
}

.search-with-voice-modal__title {
  margin: 48px 0 28px;
  font-weight: 400;
}

.search-with-voice-modal__paragraph {
  font-size: 0.875em;
}

.search-with-voice-modal__search-with-voice-btn {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 0;
  background-color: #d3d3d3;
  padding: 16px;
  border-radius: 50%;
  transition: background-color 0.15s;
}

.search-with-voice-modal__search-with-voice-icon {
  width: 2.2em;
}

/* END OF SEARCH WITH VOICE MODAL */

/* SETTINGS MODAL */

.settings-modal {
  background-color: #fff;
  position: fixed;
  top: 50px;
  right: 110px;
  width: 100%;
  max-width: 300px;
  z-index: 20;
  border-radius: 12px;
  box-shadow: 0px 0px 45px -6px rgba(0, 0, 0, 0.12);
  padding: 10px 0;
  overflow-x: hidden;
  display: none;
  scrollbar-width: thin;
}

.settings-modal__btn {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 0.875em;
  width: 100%;
  padding: 8px 17px;
  overflow: hidden;
}

.settings-modal__btn:focus {
  outline: none;
}

.settings-modal__btn-chevron {
  margin-left: auto;
  width: 1.75rem;
}

.settings-modal__btn-icon {
  width: 1.6rem;
}

.settings-modal__settings-btn-container {
  padding: 8px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* END OF SETTINGS MODAL */

/* VIDEO INFO SETTINGS */

.video-info__settings {
  background-color: #fff;
  position: absolute;
  top: 30px;
  right: -145px;
  z-index: 20;
  border-radius: 12px;
  box-shadow: 0px 0px 45px -6px rgba(0, 0, 0, 0.12);
  padding: 8px 0;
  overflow-x: hidden;
  width: 175px;
  display: none;
}

.video-info__settings-btn {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  gap: 10px;
  font-size: 0.875em;
  width: 100%;
  padding: 8px 14px;
  overflow: hidden;
  justify-items: start;
}

.video-info__settings-share-icon {
  width: 1.3rem;
}

.video-info__settings-add-icon {
  width: 1.6rem;
}

.video-info__settings-btn:focus {
  outline: none;
}

/* END OF VIDEO INFO SETTINGS */

/* HOVER CAPABLE DEVICES */

@media screen and (pointer: fine) and (hover: hover) {
  .search-with-voice-modal__close-btn:is(:hover, :focus-visible) {
    background-color: #0000001a;
  }  

  .settings-modal__btn:is(:hover, :focus-visible) {
    background-color: rgba(0, 0, 0, 0.07);
  }

  .video-info__settings-btn:is(:hover, :focus-visible ) {
    background-color: rgba(0, 0, 0 , 0.1);
  }
}

/* END OF HOVER CAPABLE DEVICES */

/* ACTIVE */

  .search-with-voice-modal__search-with-voice-btn:active {
    background-color: #a8a8a8;
  }

  .settings-modal__btn:active {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .video-info__settings-btn:active {
    background-color: rgba(0, 0, 0, 0.15);
  }

/* END OF ACTIVE */

/* MEDIA QUERIES */

@media screen and (max-width: 500px) {
  .settings-modal {
    right: 30%;
    transform: translateX(30%);
  }
}

@media screen and (max-height: 472px) and (min-width: 350px) {
  .settings-modal {
    bottom: 0;
  }
}

/* END OF MEDIA QUERIES */